
.icon-minus:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e817'; } /* '' */
.icon-right-open-big:before { content: '\e818'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-cancel:before { content: '\e901'; } /* '' */