.contact-wrapper{
    height: 85%;
    width: 94%;

    position: relative;
    top: 15%;
    left: 3%;
    border-top-color:hsl(0, 0%, 95%, 0.5);
    border-style: solid;
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;

}
.contact-wrapper h1{
    font-family:"Avenir-Bold";
    letter-spacing: 1px;
}

.contact-content{
    width: 30%;
    height: 100%;
    position: absolute;
    text-align: left;
    top: 30%;
    right: 0;

}


.address{

    line-height: 2;
    color: #3d3d3d;
    font-size: 0.82rem;
}
.address a{
    color:#3d3d3d;
}
.contact-map{
    left:5%;
    position: absolute;
    top: 10%;
    height:75%;
    width:50%;

}
strong{
    color:black;
}
.address a:hover{
    color:black;
}